<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seats Map</title>
    <link rel="stylesheet" type="text/css" href="./static/css/styleSeatmap.css">
    <mata charset="UTF-8">
    <meta name="viewport" content="width=100">
    <script src="./static/js/validateGN.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://www.centralesupelec.fr/sites/all/themes/cs_theme/medias/common/images/intro/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a >Home</a></li>
                <li><a >About</a></li>
                <li><a >Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="seatmap">
            
            <div class="seats">
                <div class="row">
                    <div class="seat">1</div>
                    <div class="seat">2</div>
                    <div class="seat">3</div>
                    <div class="seat">4</div>
                    <div class="seat">5</div>
                    <div class="seat">6</div>
                    <div class="seat">7</div>
                    <div class="seat">8</div>
                    <div class="seat">9</div>
                    <div class="seat">10</div>
                    <div class="seat">11</div>
                    <div class="seat">12</div>
                    <div class="seat">13</div>
                    <div class="seat">14</div>
                    <div class="seat">15</div>
                    <div class="seat">16</div>
                    <div class="seat">17</div>
                    <div class="seat">18</div>
                    <div class="seat">19</div>
                    <div class="seat">20</div>
                    <div class="seat">21</div>
                    <div class="seat">22</div>
                    <div class="seat">23</div>
                    <div class="seat">24</div>
                    <div class="seat">25</div>
                    <div class="seat">26</div>
                    <div class="seat">27</div>
                    <div class="seat">28</div>
                    <div class="seat">29</div>
            </div>
            <div>
                <div class="row">
                    <div class="seat">30</div>
                    <div class="seat">31</div>
                    <div class="seat">32</div>
                    <div class="seat">33</div>
                    <div class="seat">34</div>
                    <div class="seat">35</div>
                    <div class="seat">36</div>
                    <div class="seat">37</div>
                    <div class="seat">38</div>
                    <div class="seat">39</div>
                    <div class="seat">40</div>
                    <div class="seat">41</div>
                    <div class="seat">42</div>
                    <div class="seat">43</div>
                    <div class="seat">44</div>
                    <div class="seat">45</div>
                    <div class="seat">46</div>
                    <div class="seat">47</div>
                    <div class="seat">48</div>
                    <div class="seat">49</div>
                    <div class="seat">50</div>
                    <div class="seat">51</div>
                    <div class="seat">52</div>
                    <div class="seat">53</div>
                    <div class="seat">54</div>
                    <div class="seat">55</div>
                    <div class="seat">56</div>
                    <div class="seat">57</div>
                    <div class="seat">58</div>
                </div>
                <div class="row">
                    <div class="seat">59</div>
                    <div class="seat">60</div>
                    <div class="seat">61</div>
                    <div class="seat">62</div>
                    <div class="seat">63</div>
                    <div class="seat">64</div>
                    <div class="seat">65</div>
                    <div class="seat">66</div>
                    <div class="seat">67</div>
                    <div class="seat">68</div>
                    <div class="seat">69</div>
                    <div class="seat">70</div>
                    <div class="seat">71</div>
                    <div class="seat">72</div>
                    <div class="seat">73</div>
                    <div class="seat">74</div>
                    <div class="seat">75</div>
                    <div class="seat">76</div>
                    <div class="seat">77</div>
                    <div class="seat">78</div>
                    <div class="seat">79</div>
                    <div class="seat">80</div>
                    <div class="seat">81</div>
                    <div class="seat">82</div>
                    <div class="seat">83</div>
                    <div class="seat">84</div>
                    <div class="seat">85</div>
                    <div class="seat">86</div>
                    <div class="seat">87</div>
                </div>
                <div class="screen">aisle</div>
                <div class="seats">
                    <div class="row">
                        <div class="seat">1</div>
                        <div class="seat">2</div>
                        <div class="seat">3</div>
                        <div class="seat">4</div>
                        <div class="seat">5</div>
                        <div class="seat">6</div>
                        <div class="seat">7</div>
                        <div class="seat">8</div>
                        <div class="seat">9</div>
                        <div class="seat">10</div>
                        <div class="seat">11</div>
                        <div class="seat">12</div>
                        <div class="seat">13</div>
                        <div class="seat">14</div>
                        <div class="seat">15</div>
                        <div class="seat">16</div>
                        <div class="seat">17</div>
                        <div class="seat">18</div>
                        <div class="seat">19</div>
                        <div class="seat">20</div>
                        <div class="seat">21</div>
                        <div class="seat">22</div>
                        <div class="seat">23</div>
                        <div class="seat">24</div>
                        <div class="seat">25</div>
                        <div class="seat">26</div>
                        <div class="seat">27</div>
                        <div class="seat">28</div>
                        <div class="seat">29</div>
                </div>
                <div>
                    <div class="row">
                        <div class="seat">30</div>
                        <div class="seat">31</div>
                        <div class="seat">32</div>
                        <div class="seat">33</div>
                        <div class="seat">34</div>
                        <div class="seat">35</div>
                        <div class="seat">36</div>
                        <div class="seat">37</div>
                        <div class="seat">38</div>
                        <div class="seat">39</div>
                        <div class="seat">40</div>
                        <div class="seat">41</div>
                        <div class="seat">42</div>
                        <div class="seat">43</div>
                        <div class="seat">44</div>
                        <div class="seat">45</div>
                        <div class="seat">46</div>
                        <div class="seat">47</div>
                        <div class="seat">48</div>
                        <div class="seat">49</div>
                        <div class="seat">50</div>
                        <div class="seat">51</div>
                        <div class="seat">52</div>
                        <div class="seat">53</div>
                        <div class="seat">54</div>
                        <div class="seat">55</div>
                        <div class="seat">56</div>
                        <div class="seat">57</div>
                        <div class="seat">58</div>
                    </div>
                    <div class="row">
                        <div class="seat">59</div>
                        <div class="seat">60</div>
                        <div class="seat">61</div>
                        <div class="seat">62</div>
                        <div class="seat">63</div>
                        <div class="seat">64</div>
                        <div class="seat">65</div>
                        <div class="seat">66</div>
                        <div class="seat">67</div>
                        <div class="seat">68</div>
                        <div class="seat">69</div>
                        <div class="seat">70</div>
                        <div class="seat">71</div>
                        <div class="seat">72</div>
                        <div class="seat">73</div>
                        <div class="seat">74</div>
                        <div class="seat">75</div>
                        <div class="seat">76</div>
                        <div class="seat">77</div>
                        <div class="seat">78</div>
                        <div class="seat">79</div>
                        <div class="seat">80</div>
                        <div class="seat">81</div>
                        <div class="seat">82</div>
                        <div class="seat">83</div>
                        <div class="seat">84</div>
                        <div class="seat">85</div>
                        <div class="seat">86</div>
                        <div class="seat">87</div>
                    </div>

                <script src=".static/js/seatsGeneration.js"></script>
        </div>
    </div>
</body>

       
