<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seats Map</title>
    <link rel="stylesheet" type="text/css" href="./static/css/styleSeatmap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100">
    <script>  const availableSeats = '{{ availableSeats|tojson|safe }}' </script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://www.centralesupelec.fr/sites/all/themes/cs_theme/medias/common/images/intro/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a >Home</a></li>
                <li><a >About</a></li>
                <li><a >Contact</a></li>
            </ul>
        </nav>
    </header>
    <script src="./static/js/seatsGeneration.js">
    </script>
</body>
</html>
       
