body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    float: left;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

h1 {
    text-align: center;
    color: #333;
}


.seatmap {
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}

.screen {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.seat {
    background-color: #ccc;
    border: 1px solid #999;
    padding: 10px;
    margin: 5px 0;
    width: 40px;
    height: 40px;
    line-height: 20px;
    cursor: pointer;
}

.seat:hover {
    background-color: #aaa;

}

.available {
    background-color: #b9f6ca;
    border: 1px solid #999;
    padding: 10px;
    margin: 5px 0;
    width: 40px;
    height: 40px;
    line-height: 20px;
    cursor: pointer;
}

.available:hover {
    background-color: #96e6a1;
}